body{
    background:#1F87BD;
}
#svgStripCont{
    position: relative;
    top: 0;
    left: 0;
    margin:0;
    width: 100vw;
    height: 60px;
}
.bgImgFP{
    position: relative;
    margin: 3em auto;
    padding: 0;
    background: url('../img/vetrata.jpg'),linear-gradient(to bottom, rgba(0, 0, 0, 0.493), rgba(255, 255, 255, .3));
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
#title{
    position: relative;
    top: 0%;
}
.text-shadow{
    text-shadow: 0px 2px 5px black;
}
/* =========================== SVG =============== */

.item{
    position:relative;
    display: inline-block;
 
    width: 200px;
    height: 70px;
 }
 .item svg{
    position:absolute;
    top:0;
    left:0;
    z-index:-10;
    width:100%;
    height:100%;
    /* // border: 1px orange solid; */
 }
 .item a{
    color: Black;
    text-decoration: none;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    display: block;
    height: 100%;
    width: 100%;
 }
 .rect1, .rect2, .rect3, .rect4, .rect5, .rect6, .rect7, .rect8{
    position: relative;
 }
 .rect1{
    
    fill:rgba(2, 67, 121, 0.5);
    transform: translateY(90%);
 }
 .rect2{
    
    fill:rgba(0, 162, 255, 0.5);
    transform: translateY(80%);
 }
 .rect3{
    
    fill:rgba(2, 67, 121, 0.5);
    transform: translateY(90%);
 }
 .rect4{
    
    fill:rgba(0, 162, 255, 0.5);
    transform: translateY(80%);
 }
 .rect5{
    fill:rgba(2, 67, 121, 0.5);
    transform: translateY(90%);
 }
 .rect6{
    fill:rgba(0, 162, 255, 0.5);
    transform: translateY(80%);
 }
 .rect7{
    fill:rgba(2, 67, 121, 0.5);
    transform: translateY(90%);
 }
 .rect8{
    fill:rgba(0, 162, 255, 0.5);
    transform: translateY(80%);
 }
 .rect{ 
    stroke:rgba(5, 5, 5, 0.5);
    transition: all .7s ease-in-out; 
 }
 li:hover .rect{
    transform: translateY(5%);  
    animation: menuBar .5s ease-in-out .6s infinite alternate forwards;
 }
 
 @keyframes menuBar{
    0%{
       
    }
    25%{
       transform: translateY(5%);
    }
    50%{
       transform: translateY(10%);
    }
    75%{
       transform: translateY(15%);
    }
    100%{
       transform: translateY(10%);
       stroke:rgba(5, 5, 5, 0.9);       
    }
 }
 [class^=strip-]{
     transition: all .1s ease-in-out;
 }

 [class^=strip-]:hover{
     transform: translateY(15px);
 }
/* ======================= */
.navbar-fdv{
    background:#1F87BD;
    box-shadow: 0 3px 7px rgba(14,14,14,.8)!important;
}